<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <h2 align="center">Resume</h2>
<form>
First Name: <input type="text" placeholder="Enter your first name" required><br><br>
Last Name: <input type="text" placeholder="Enter your last name" required><br><br>
Email Adress: <input type="email" placeholder="Enter your Email address" required><br><br>
Phone number: <input type="number" placeholder="Enter your phone number" required><br><br>
House address: <textarea placeholder="Enter your address" cols="30" rows="3"></textarea> <br><br>
<fieldset>
<legend align="center">Education Details</legend>
10th marks: <input type="text" placeholder="Enter your marks" required><br><br>
<input type="checkbox">12th marks:
<input type="checkbox">Diploma marks: <input type="text" placeholder="Enter your marks" required><br><br>
<input type="checkbox">BE/B.Tech 
<input type="checkbox">MSC/MCA 
<input type="checkbox">B.Com/BSC/BCA
<input type="checkbox">ME/M.Tech   <input type="text" placeholder="Enter your marks" required><br><br>
Year of Passing(yop) :  <input type="number" placeholder="Enter your marks" required><br>
</fieldset><br><br>
<fieldset>
<legend align="center">Personal Details</legend>
Date of birth:  <input type="date"><br><br>
Nationality:  <input type="text" placeholder="Enter here" required><br><br>
<select multiple>
<optgroup>
<option>Select Languages Known: </option>
<option>Kannada</option>
<option>English</option>
<option>Telugu</option>
<option>Tamil</option>
<option>Malayalam</option>
</optgroup>
</select>

<select multiple>
<optgroup>
<option>Select your state: </option>
<option>Karnatake</option>
<option>Andra Pradesh</option>
<option>Tamil Nadu</option>
<option>Kerala</option>

</optgroup>
</select>
</fieldset><br><br>
Select your Resume: <input type="file"><br><br>
<button>Submit</button>
</form>
</body>
</html>